name: CI Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Convert TEI input to KorAP-XML
        run:  docker run --rm -v ${PWD}/example:/data korap/kalamar:latest-conv tei2korapxml --no-tokenizer --inline-tokens '!cmc#morpho' --input /data/dck-part1.i5.xml > dck.zip
      - name: Convert KorAP-XML to Krill
        run: |
          mkdir json
          docker run --rm -u root -v ${PWD}:/kalamar/data:z korap/kalamar:latest-conv korapxml2krill archive -z -i /kalamar/data/dck.zip --jobs -1 --token 'cmc#morpho' --base-paragraphs 'DeReKo#Structure' --base-sentences 'DeReKo#Structure'   -o ./data/json/
      - name: Build index
        run: |
          mkdir index
          docker run -u root --rm -v ${PWD}:/data:z korap/kustvakt Krill-Indexer.jar -c /kustvakt/kustvakt-lite.conf -i /data/json -o /data/index/
      - name: Create kalamar.production.conf
        run: echo "{Kalamar=>{plugins=>['Auth']},'Kalamar-Auth'=>{client_file=>'/kalamar/super_client_info'}}" > kalamar.production.conf
      - name: Start KorAP - lite
        run: INDEX=./index docker-compose --profile=lite up -d
      - name: Wait until KorAP is up and running
        run: count=0; while test $count -lt 25 && ! INDEX=./index docker-compose --profile=lite logs | grep "Initiating Jersey"; do count=$((count+1)); echo "waiting ${count}s"; sleep 1; done; sleep 10
      - name: Test that API delivers some search hits
        run: test $(curl --silent 'http://localhost:64543/api/v1.0/search?q=geht&ql=poliqarp&cq=corpusSigle=DCK' | jq '.matches | length') -gt 10
      - name: Test that UI delivers some search hits
        run: test $(curl --silent 'http://localhost:64543?q=geht&ql=poliqarp&cq=corpusSigle=DCK' | grep -c snippet) -gt 10
      - name: Stop KorAP
        run: INDEX=./index docker-compose --profile=lite stop
      - name: Test that super_client_info does not exist
        run: test ! -f super_client_info
      - name: Start KorAP - full
        run: INDEX=./index docker-compose --profile=full up -d
      - name: Wait until KorAP is up and running
        run: count=0; while test $count -lt 25 && ! INDEX=./index docker-compose --profile=full logs | grep "Initiating Jersey"; do count=$((count+1)); echo "waiting ${count}s"; sleep 1; done; sleep 10
      - name: Test that super_client_info exists
        run: test -f super_client_info
      - name: Test that API delivers some search hits
        run: test $(curl --silent 'http://localhost:64543/api/v1.0/search?q=geht&ql=poliqarp&cq=corpusSigle=DCK' | jq '.matches | length') -gt 10
      - name: Test that UI delivers some search hits
        run: test $(curl --silent 'http://localhost:64543?q=geht&ql=poliqarp&cq=corpusSigle=DCK' | grep -c snippet) -gt 10

      - name: Checkout KorAP/KorAP-E2E-Tests
        uses: actions/checkout@v3
        with:
          repository: KorAP/KorAP-E2E-Tests
          path: KorAP-E2E-Tests
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          cache: npm
          node-version: latest
          cache-dependency-path: "./KorAP-E2E-Tests/package-lock.json"
      - name: Install dependencies of KorAP-E2E-Tests
        working-directory: ./KorAP-E2E-Tests
        run: npm ci
      - name: Setup cache for Chromium binary
        uses: actions/cache@v3
        with:
          path: ~/.cache/puppeteer/chrome
          key: ubuntu-latest-chromium-${{ hashFiles('packages/puppeteer-core/src/revisions.ts') }}
      - name: Install Linux dependencies
        run: sudo apt-get install xvfb
      - name: Run end-to-end tests
        working-directory: ./KorAP-E2E-Tests
        run: xvfb-run --auto-servernum npm test

      - name: Stop KorAP
        run: INDEX=./index docker-compose --profile=full stop
